body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #b710fe; /* Set your desired background color */
}

.container {
  text-align: center;
}

.box {
  background-color: #e40ba7; /* Set your desired background color for the box */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a stylish look */
  max-width: 300px; /* Set the maximum width of the box */
  margin: 0 auto; /* Center the box horizontally */
}
.movie-list {
  list-style: none; /* Remove the default list styles */
  padding: 0; /* Remove default padding */
  border: 2px solid #ccc; /* Add a border around the list */
  border-radius: 5px; /* Add border radius for a rounded look */
}

.list-items {
  list-style: none; /* Remove the default list styles */
  padding: 10px 0;
  border-bottom: 1px solid #ccc; /* Add a border between list items */
}
